/* slide animations */
@keyframes slide-from-right{
    0%{
        right: -100%;
    }
    100%{
        right: 0;
    }
}

@keyframes slide-from-left{
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}

.slide-from-right-animation{
    animation-name: slide-from-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.slide-from-left-animation{
    animation-name: slide-from-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.normal-animation{
    animation-direction: normal;
}

.reverse-animation{
    animation-direction: reverse;
}

.hidden{
    transition-property: opacity;
    transition-delay: 0.45s;
    opacity: 0;
}