*, *::before, *::after{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    color: whitesmoke;
    background-color: #0D1117;
}



h1, h2, h3, h4, p{
    margin: 0;
}

/* header */
header{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #010409;
}

a:visited{
    color: whitesmoke;
}

.header-title-container{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
}

.header-title-container > a{
    font-size: 1.75rem;
    font-weight: 500;
    cursor: pointer;
    transition: text-decoration 0.5s ease-out;
    text-decoration: underline transparent;
}

.header-title-container > a:after{
    content:"./";
    border-right: 5px solid whitesmoke;
    animation: text-fade-in 4s forwards 1s;
}

@keyframes text-fade-in{
    0%{
        content: "./";
    }
    5%{
        content: "./j";
    }
    10%{
        content: "./jo";
    }
    15%{
        content: "./jon";
    }
    20%{
        content: "./jona";
    }
    25%{
        content: "./jonat";
    }
    30%{
        content: "./jonath";
    }
    35%{
        content: "./jonatha";
    }
    40%{
        content: "./jonathan";
    }
    45%{
        content: "./jonathanm";
        border-right: 5px solid whitesmoke;
    }
    50%{
        content: "./jonathanmt";
    }
    55%{
        content: "./jonathanmtz";
    }
    60%{
        content: "./jonathanmtzc";
        border-right: 5px solid whitesmoke;
    }
    75%{
        content: "./jonathanmtzc.";
    }
    85%{
        content: "./jonathanmtzc.dev";
        border-right: 5px solid whitesmoke;
    }
    100%{
        content: "./jonathanmtzc.dev";
        border-right: none;
    }
}

ul{
    display: flex;
    gap: 1em;
    margin-right: 1em;
    margin-left: auto;
    list-style: none;
}

a{
    font-size: 1.25rem;
    font-weight: 300;
    cursor: pointer;
    transition: text-decoration 0.5s ease-out;
    text-decoration: underline transparent;
    text-wrap: nowrap;
}

a:hover{
    text-decoration-color: whitesmoke;
}

.menu-button{
    display: none;
    height: 50px;
    width: 50px;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.menu-button > img{
    width: 100%;
    height: 100%;
}

/* main */
main{
    height: 100%;
    padding: 1em 1em;
}

/* sections */
section{
    height: 100%;
}

section:first-child{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 3em 1em 0;
}

.section-title > h1{
    font-size: 4.5rem;
    font-weight: 700;
    white-space: pre;
    line-height: 0.9;
}

.section-title > h2{
    font-size: 3rem;
    font-weight: 400;
    white-space: pre;
    line-height: 0.9;
    margin-top: 0.25em;
}

.pfp{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    outline: 0 solid transparent;
    transition: outline 0.25s ease;
}

.pfp:hover{
    outline: 8px solid whitesmoke;
}

@media(max-width:1000px){
    section:first-child{
        flex-direction: column-reverse;
        row-gap: 2em;
    }
    .section-title > h1, .section-title > h2{
        white-space: normal;
        text-align: center;
    }
}

@media(max-width:600px){
    .menu-button{
        display: block;
    }
    header{
        flex-direction: column;
    }
    .header-title-container{
        padding: 0.5em 1em;
    }
    ul{
        width: 100%;
        flex-direction: column;
        gap: 0;
        padding: 0;
        margin: 0;
        border-top: 1px solid whitesmoke;
        display: none;
    }
    li{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid whitesmoke;
        padding: 0.875em 0;
    }
    .pfp{
        height: 350px;
        width: 350px;
    }
}