/* pulse */
@keyframes pulse{
    0%{
        background-color: rgb(0, 170, 0);
        border-color: var(--background-color);
    }
    20%{
        background-color: rgb(0, 220, 0);
        border-color: rgb(0, 125, 0);
    }
    30%{
        background-color: rgb(0, 220, 0);
        border-color: rgb(0, 125, 0);
    }
    50%{
        background-color: rgb(0, 170, 0);
        border-color: var(--background-color);
    }
    100%{
        background-color: rgb(0, 170, 0);
        border-color: var(--background-color);
    }
}

/* title animation */
@keyframes text-fade-in{
    0%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./|";
    }
    4%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./j|";
    }
    8%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jo|";
    }
    12%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jon|";
    }
    16%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jona|";
    }
    20%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jonat|";
    }
    24%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jonath|";
    }
    28%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jonatha|";
    }
    32%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jonathan|";
    }
    36%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jonathanm|";
    }
    40%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jonathanmt|";
    }
    44%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jonathanmtz|";
    }
    48%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jonathanmtzc|";
    }
    52%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jonathanmtzc.|";
    }
    70%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jonathanmtzc.dev|";
    }
    71%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        content: "./jonathanmtzc.dev";
        opacity: 1;
    }
    80%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        opacity: 1;
        content: "./jonathanmtzc.dev";
    }
    92%{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        opacity: 0;
        content: "./jonathanmtzc.dev";
    }
    96%{
        opacity: 0;
        content: "./jonathanmtzc.dev";
    }
    100%{
        opacity: 1;
        content: "./jonathanmtzc.dev";
    }
}