/* slide animations */
@keyframes slide-from-right{
    0%{
        right: -100%;
    }
    100%{
        right: 0;
    }
}

@keyframes slide-from-left{
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}

.slide-from-right-animation{
    animation: slide-from-right 0.5s ease-in-out;
    -webkit-animation: slide-from-right 0.5s ease-in-out;
}

.slide-from-left-animation{
    animation: slide-from-left 0.5s ease-in-out;
    -webkit-animation: slide-from-left 0.5s ease-in-out;
}

.normal-animation{
    animation-direction: normal;
    -webkit-animation-direction: normal;
}

.reverse-animation{
    animation-direction: reverse;
    -webkit-animation-direction: reverse;
}

.hidden{
    transition-property: opacity;
    transition-delay: 0.45s;
    opacity: 0;
}

/* skills animation */
@keyframes color-in-out{
    0%{fill: whitesmoke;}
    20%{fill: var(--c);}
    50%{fill: var(--c);}
    70%{fill: whitesmoke;}
    100%{fill: whitesmoke;}
}

/* title animation */
@keyframes text-fade-in{
    0%{
        content: "./";
    }
    5%{
        content: "./j";
    }
    10%{
        content: "./jo";
    }
    15%{
        content: "./jon";
    }
    20%{
        content: "./jona";
    }
    25%{
        content: "./jonat";
    }
    30%{
        content: "./jonath";
    }
    35%{
        content: "./jonatha";
    }
    40%{
        content: "./jonathan";
    }
    45%{
        content: "./jonathanm";
        border-right: 5px solid whitesmoke;
    }
    50%{
        content: "./jonathanmt";
    }
    55%{
        content: "./jonathanmtz";
    }
    60%{
        content: "./jonathanmtzc";
        border-right: 5px solid whitesmoke;
    }
    75%{
        content: "./jonathanmtzc.";
    }
    85%{
        content: "./jonathanmtzc.dev";
        border-right: 5px solid whitesmoke;
    }
    100%{
        content: "./jonathanmtzc.dev";
        border-right: none;
    }
}