/* articles */
#projects-section > article{
    align-self: center;
}

article{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-top: 2em;
    padding: 2em;
    background-color: rgb(39, 42, 48);
    border-radius: 12px;
}

.article-info{
    display: flex;
    flex-direction: column;
}

.article-info > h1{
    font-size: 2rem;
    text-decoration: none;
    text-wrap: wrap;
    word-break: break-word;
}

.article-content{
    margin-top: 0.5em;
    font-size: 1.25rem;
    text-decoration: none;
    color: rgb(208, 208, 208);
    text-align: justify;
}

.article-utilities{
    margin-top: 1em;
    white-space: pre;
    text-wrap: wrap;
}

.article-image-container{
    min-width: 50%;
    aspect-ratio: 1.5/1;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.article-image-container > img{
    background-image: whitesmoke;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.article-links-container{
    margin-top: 2em;
    display: flex;
    gap: 1em;
}

.article-link{
    margin: 0;
}

.article-link > svg {
    fill: whitesmoke;
    transition: fill 0.5s ease, transform 0.5s ease;
    border-radius: 50%;
}

.url > svg{
    background-color: whitesmoke;
    transition: all 0.5s ease;
}

/* image buttons */
.circle-button-container{
    position: absolute;
    left: calc(50% - (60px + 2em)/2);
    bottom: 10px;
    display: flex;
    gap: 1em;
}

.circle-button{
    height: 20px;
    width: 20px;
    background-color: #010409;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.button-active{
    background-color: rgb(25, 203, 235)
}

/* viewports */
@media(min-width: 600px){
    .circle-button:hover{
        background-color: rgb(25, 203, 235);
    }
}

@media(max-width: 1250px){
    article{
        flex-direction: column;
    }
    .article-links-container{
        justify-content: space-between;
    }
}

@media(max-width:600px){
    article{
        padding: 1em;
    }
}