/* form */
form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    padding: 2.75em 2.75em 3em;
    background: linear-gradient(0, rgb(36, 42, 52) 40%, rgb(11, 33, 77));
    border-radius: 12px;
}

form > p{
    font-size: 1.2rem;
    margin: 0;
    color: rgb(202, 29, 29);
}

label{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.5rem;
    gap: 0.25em;
}

.tip-hidden{
    display: none;
}
/* inputs */
input[type=text], input[type=email]{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid rgb(206, 206, 206);
    font-size: 1.25rem;
    font-weight: 300;
    color: whitesmoke;
    padding-top: 0.25em;
    border-radius: 0;
}

input[type=text]:hover, input[type=email]:hover, input[type=text]:focus, input[type=email]:focus{
    outline: none;
    border-color: #eb9414;
}

/* textarea */
textarea{
    resize: none;
    border-radius: 6px;
    padding: 1em;
    background-color: rgb(36, 42, 52);
    color: whitesmoke;
    font-size: 1.25rem;
    font-weight: 300;
    border: 3px solid rgb(206, 206, 206);
}

textarea:hover, textarea:focus{
    outline: none;
    border-color: #eb9414;
}

/* submit button */
#submit-button{
    margin: 1em auto 0;
    padding: 0.5em 1em;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: whitesmoke;
    border: none;
    border-radius: 6px;
    transition: all 0.25s ease;
    cursor: pointer;
    color: #010409;
}
#submit-button:hover{
    transform: scale(1.1);
}
