header{
    height: 80px;
    width: 100%;
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#menu-list{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    background-color: var(--menu-background-color);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    opacity: 0;
    transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
}

.nav-logo{
    z-index: 11;
}

:root{
    --logo-animation: text-fade-in 8s forwards;
    --li-animation: fade-in 0.5s ease-in forwards 7.6s;
    --li-opacity: 0;
}

.nav-logo:after{
    content:"./jonathanmtzc.dev";
    font-size: 32px;
    animation: var(--logo-animation);
    -webkit-animation: var(--logo-animation);
    -o-animation: var(--logo-animation);
    -moz-animation: var(--logo-animation);
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-button{
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 11;
    padding-top: 5px;
    opacity: var(--li-opacity);
    animation: var(--li-animation);
    -webkit-animation: var(--li-animation);
    -o-animation: var(--li-animation);
    -moz-animation: var(--li-animation);
}

@media(min-width:750px){
    #menu-list{
        min-height: unset;
        height: unset;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: unset;
        gap: 2em;
        position: relative;
        list-style-type: none;
        background-color: unset;
        backdrop-filter: unset;
        opacity: 1;
        transition: unset;
        -moz-transition: unset;
        -o-transition: unset;
        -webkit-transition: unset;
    }

    #menu-list > li > a{
        font-size: 1.75rem;
    }

    #menu-list > li:first-child{
        margin-left: auto;
    }

    #menu-button{
        display: none;
    }

    #menu-list > li{
        opacity: var(--li-opacity);
        animation: var(--li-animation);
        -webkit-animation: var(--li-animation);
        -o-animation: var(--li-animation);
        -moz-animation: var(--li-animation);
    }
}