*, *::before, *::after{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

:root{
    --main-color: #2bfdbb;
    --background-color: #23002f;
    --text-color: #ffeee1;
    --subheading-color: #ffeee1b6;
    --outline-color: #D5C7BC;
    /* header */
    --header-background-color: #1d0027dc;
    --menu-background-color: #23002fa8;
    /* online */
    --online-pulse-color: #00ffae;
    --online-pulse-background: #006545;
    --online-standby-color: #1fb988;
    /* scrollbar */
    --scrollbar-background: #1d0027;
    --scrollbar-color: #00ffaea7;
}

html{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-background);
    scrollbar-width: thin;
    overflow-y: scroll;
    overflow-x: hidden;
}

body{
    background-color: var(--background-color);
    overflow: auto;
}

/* elements */
h1, h2, h3, h4, p, span{
    color: var(--text-color);
}

a{
    font-size: 28px;
}

a, a:visited, a:active{
    text-decoration: underline;
    text-decoration-color: transparent;
    color: var(--main-color);
    transition: text-decoration-color 0.25s ease;
}

a:hover{
    text-decoration-color:  var(--main-color);
}

h1{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
}

h2{
    font-size: 2.25rem;
    font-weight: 300;
}

h3{
    font-size: 1.5rem;
    font-weight: 300;
}

.sub-heading{
    color: var(--subheading-color);
}

/* pfp */
.pfp{
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    outline: 6px solid transparent;
    transition: outline-color 0.5s ease, transform 4s ease;
    cursor: pointer;
}

@media(min-width:900px){
    .pfp{
        height: 400px;
        width: 400px;
    }
}

.pfp:hover{
    outline-color: var(--outline-color);
}

.spin{
    transform: rotateX(calc(360deg*10));
}

/* online indicator */
.online{
    height: 14px;
    width: 14px;
    border: 3.8px solid var(--background-color);;
    display: inline-block;
    border-radius: 50%;
    animation: pulse 5s ease infinite;
    -webkit-animation: pulse 5s ease infinite;
    -o-animation: pulse 5s ease infinite;
    -moz-animation: pulse 5s ease infinite;
    margin-right: 8px;
}