section{
    display: flex;
    padding: 1em;
    overflow-x: hidden;
    min-height: 100vh;
}

section:first-child{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2em;
    position: relative;
    margin-top: 0;
}

.section-title{
    text-align: center;
}

@media(min-width:950px){
    section:first-child{
        flex-direction: row;
        gap: 4em;
    }
}

@media(max-width:700px){
    section:first-child{
        padding-top: 80px;
    }
}

.section{
    display: flex;
    flex-direction: column;
    padding: 0;
}
@media(min-width:600px){
    .section{
        max-width: 80%;
        margin: 0 auto;
    }
}
@media(min-width:900px){
    .section{
        max-width: 65%;
        margin: 0 auto;
    }
    #projects{
        max-width: 80%;
    }
    #projects{
        max-width: 90%;
        overflow: visible;
    }
}
@media(min-width:1200px){
    .section{
        max-width: 50%;
        margin: 0 auto;
    }
    #projects{
        max-width: 80%;
    }
}

/* about section */
.about-header{
    width: 10rem;
    border-bottom: 3px solid var(--main-color);
    border-left: 3px solid var(--main-color);
    padding-left: 10px;
}
.about-paragraph{
    text-align: justify;
    margin: 1em 10px 0;
}

.carroussel{
    margin-top: 4em;
}
.splide__slide{
    display: flex;
}
.splide__slide > img{
    margin: 0 auto;
}

/* projects section */
.projects-header{
    width: 13rem;
    border-bottom: 3px solid var(--main-color);
    border-left: 3px solid var(--main-color);
    padding-left: 10px;
}