section{
    display: flex;
    padding: 1em;
    overflow-x: hidden;
    min-height: 100vh;
}

section:first-child{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2em;
    position: relative;
    margin-top: 0;
}

.section-title{
    text-align: center;
}

/* about section */
.about-header{
    width: 10rem;
    border-bottom: 3px solid var(--main-color);
    border-left: 3px solid var(--main-color);
    padding-left: 10px;
}
.about-paragraph{
    text-align: justify;
    margin: 1em 10px 0;
}

.carroussel{
    margin-top: 4em;
}
.splide__slide{
    display: flex;
}
.splide__slide > img{
    margin: 0 auto;
}

/* projects section */
.projects-header{
    width: 13rem;
    border-bottom: 3px solid var(--main-color);
    border-left: 3px solid var(--main-color);
    padding-left: 10px;
}

/* contact section */
#contact{
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
}

.contact-header{
    font-size: 2rem;
    font-weight: 300;
}

.contact-button{
    margin: 2em auto 0;
    background-color: transparent;
    border: none;
    word-break: break-all;
    cursor: pointer;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
}

.contact-email{
    color: var(--main-color);
    font-size: 4.25rem;
    font-weight: 300;
    position: relative;
}

.contact-mobile{
    display: none;
}

.clipboard{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    padding: 0.5em 0.65em;
    border-radius: 4px;
    color: var(--main-color);
    background-color: var(--article-background);
    font-size: 1.15rem;
    transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
    white-space: nowrap;
}

.contact-links{
    display: flex;
    margin: 1em auto 0;
    gap: 2em;
}

.contact-link{
    transition: transform 0.25s ease;
    -moz-transition: transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    -webkit-transition: transform 0.25s ease;
}

@media(hover: hover){
    .contact-link:hover{
        transform: scale(1.25);
    }
}

.github{
    margin-top: 5px;
}



@media(max-width:1000px){
    .contact-email{
        display: none;
    }
    .contact-mobile{
        font-size: 3.75rem;
        display: inline;
    }
}

@media(max-width:550px){
    .contact-email{
        display: none;
    }
    .contact-mobile{
        font-size: 2.75rem;
        display: inline;
    }
}

/* viewport */
@media(min-width:950px){
    section:first-child{
        flex-direction: row;
        gap: 4em;
    }
}

@media(max-width:700px){
    section:first-child{
        padding-top: 80px;
    }
}

.section{
    display: flex;
    flex-direction: column;
    padding: 0;
}
@media(min-width:500px){
    #about{
        justify-content: center;
    }
}
@media(min-width:600px){
    .section{
        max-width: 80%;
        margin: 0 auto;
    }
    #contact{
        max-width: 90%;
    }
}
@media(min-width:900px){
    .section{
        max-width: 65%;
        margin: 0 auto;
    }
    #projects{
        max-width: 90%;
        overflow: visible;
    }
    #contact{
        max-width: 90%;
    }
}
@media(min-width:1200px){
    .section{
        max-width: 50%;
        margin: 0 auto;
    }
    #projects{
        max-width: 80%;
    }
    #contact{
        max-width: 90%;
    }
}

.section{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 1s ease;
    -webkit-transition: opacity 1s ease, transform 1s ease;
    -moz-transition: opacity 1s ease, transform 1s ease;
    -o-transition: opacity 1s ease, transform 1s ease;
}

.section-visible{
    opacity: 1;
    transform: translateY(0);
}